@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%; /*#ffffff*/
    --foreground: 222 39% 12%; /*#121929*/
    /* --foreground: 240 10% 3.9%; */

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 196 100% 50%; /*#00BDFF*/
    --primary-foreground: 0 0% 100%; /*#ffffff*/

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 222 39% 12% / 0.48; /*#1219297A */
    /* --muted-foreground: 240 3.8% 46.1%;  */

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 6 100% 61%; /*#FF4E3A*/
    --destructive-foreground: 0 0% 100%; /*#ffffff*/

    --border: 240 5.9% 90%;
    /* --input: 240 5.9% 90%; */
    --input: 222 39% 12% / 0.12; /*#1219291F*/
    /* --ring: 240 10% 3.9%; */
    --ring: 222 39% 12% / 0.48; /*#1219297A */

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }

  * {
    @apply border-border;
  }
  body {
    @apply mx-auto flex !max-h-screen !min-h-screen w-full bg-layout-surface text-foreground;
  }
  #root {
    @apply 5xl:max-w-screen-5xl mx-auto flex  h-full min-h-screen w-full flex-col;
  }
}

@media only screen and (min-width: 600px) {
  ::-webkit-scrollbar {
    @apply w-[0.45rem];
  }

  ::-webkit-scrollbar-track {
    @apply bg-layout-body;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-primary;
  }
}
